/* cards.css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#deals_of_the_day {
  background-image: linear-gradient(130deg, #fedd8c 65%, #ff786f 35%);
  padding: 10vh;
  margin-top: 5vh;
}

#mens_cards_container {
  position: relative;
  overflow: hidden;
  width: 80vw;
  margin: 0 auto 0 auto;
  font-family: "Noto Sans", sans-serif;
}

.mens_cards_title {
  font-size: 2rem;
  margin: 0 0 3vh 1vw;
  font-weight: bold;
}

.mens_cards_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.mens_parent_of_cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.mens_cards {
  width: 14.5vw;
  flex: 0 0 auto;
  margin: 0 1%;
  position: relative;
  background-color: white;
  padding: 1vh;
  border-radius: 5px;
}

.mens_cards_img_parent {
  height: 50vh;
  width: 100%;
}

.cards_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.mens_cards_brand {
  font-weight: 550;
  font-size: 1.3rem;
  margin-top: 1vh;
}

.mens_cards_features {
  display: flex;
  font-size: 0.9rem;
  margin-top: 0.5vh;
}

.mens_cards_price {
  font-weight: 450;
  font-size: 0.9rem;
  margin: 1vh 0;
}

.mens_cards_heart {
  position: absolute;
  top: 2.5vh;
  right: 1.5vw;
  font-size: 1.5rem;
  color: red;
}

.mens_cards_next_btn,
.mens_cards_prev_btn {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1.5rem;
  color: red;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.mens_cards_prev_btn {
  left: -0.8vw;
}

.mens_cards_next_btn {
  right: -1vw;
}


/* ---------- women cards --------- */

.new_arrivals_cards {
  width: 18.5vw;
  flex: 0 0 auto;
  margin: 0 1%;
  position: relative;
  background-color: white;
  padding: 1vh;
  border-radius: 5px;
}

.new_arrivals_cards_title{
  font-weight: normal;
  font-style: oblique;
}

#new_arrivals_cards_img{
  border-radius: 10px;
}