* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#carousal_container {
  background-color: #00b0b5;
}

#navbar {
  display: grid;
  width: 90%;
  height: 10vh;
  margin: 0 auto;
  grid-template-columns: 20% 45% 25% 10%;
  padding: 1vh 0;
  color: white;
  align-items: center;
}

.link_comp {
  text-decoration: none;
  border: none;
}

.navbar_category {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: white;
  text-decoration: none;
  border: none;
}

.navbar_category{
  outline: none;
  border: none;
  text-decoration: none;
}

.navbar_search_parent {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  width: 80%;
}

.navbar_search {
  font-size: 1rem;
  padding: 1.3vh 1vw;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: white;
}

.navbar_search:focus, .navbar_search_category:focus {
  outline: none;
}

.navbar_search_icon {
  text-align: center;
  align-self: center;
}

/* carousal container starts : */

#carousal_container {
  position: relative;
  overflow: hidden;
}

.carousal_img {
  width: 100%;
  height: 100%;
}

.carousal_img_parent {
  width: 100%;
  height: 70vh;
}

.carousal {
  display: flex;
  width: 500vw;
}

.carousal_btn_next,
.carousal_btn_prev {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: white;
  top: 30vh;
}

.carousal_btn_prev {
  left: 2vw;
}

.carousal_btn_next {
  right: 2vw;
}
